In [ ]:
#11.1
# zoo.py
def hours():
    print('Open 9-5 daily')

In [16]:
#11.2
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [17]:
#16.8
#Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. 
#As in 16.6, select and print the title column from the book table in alphabetical order
import sqlite3 as books.db

SELECT title,
FROM book table
ORDER BY title ASC

SyntaxError: invalid syntax (2941558577.py, line 4)